body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color-one {
  color: #525FE1 !important;
}

.color-two {
  color: #F86F03 !important;
}


.bg-one {
  background-color: #525FE1 !important;
}

.bg-two {
  background-color: #F86F03 !important;
}

.mlr-1 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.mlr-2 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.mr-2 {
  margin-right: 1rem !important;
}







.wrapper {
  display: flex;
}

.column {
  flex: 0 1 auto;
  max-width: 50%;
}
