body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.thankyou-box {
  display: flex;
  height: 90vh;
  text-align: center;
  padding: 1rem 0.5rem;
  justify-content: center;
  align-items: center;
}

.thankyou-box h1 {
  font-size: 2.5rem;
  font-weight: 500;
}


.thankyou-box h1 b {
  font-weight: 700;
}


.MuiAppBar-root {
  background-color: #01abaa !important;
}

.color-white {
  color: white !important;
}

.bg-white {
  background-color: white !important;
}


.color-one {
  color: #01abaa !important;
}

.color-two {
  color: #F86F03 !important;
}

.m0 {
  margin: 0 !important;
}

.p0 {
  padding: 0 !important;
}

.bg-one {
  background-color: #01abaa !important;
}

.bg-two {
  background-color: #F86F03 !important;
}

.mlr-1 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.mlr-2 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.mr-1 {
  margin-right: 0.5rem !important;
}

.mr-2 {
  margin-right: 1rem !important;
}

.mt-1 {
  margin-top: 0.5rem !important
}

.mt-2 {
  margin-top: 1rem !important
}

.mb-1 {
  margin-bottom: 0.5rem !important
}

.mb-2 {
  margin-bottom: 1rem !important
}


.mtb-1 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.mtb-2 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.ptb-1 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.ptb-2 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}


.wrapper {
  display: flex;
}

.column {
  flex: 0 1 auto;
  max-width: 50%;
}

.MuiRadio-root {
  color: #F86F03 !important;
}

.MuiRadio-root.Mui-disabled {
  color: rgba(0, 0, 0, 0.26) !important;
}

.preview .MuiRadio-root.Mui-disabled {
  color: #F86F03 !important;
}

.MuiRadio-root+span {
  color: #4a4848 !important;
}

.MuiCheckbox-root {
  color: #F86F03 !important;
}

.MuiCheckbox-root+span {
  color: #4a4848 !important;
}

.MuiCheckbox-root.Mui-disabled {
  color: rgba(0, 0, 0, 0.26) !important;
}

.preview .MuiCheckbox-root.Mui-disabled {
  color: #F86F03 !important;
}