.question-box {
    padding: 0.5rem 1rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 0.5rem;
    margin: 0.5rem 0;
}

.question-section {
    display: flex;
}

.question-type-select {
    width: 50%;
}

.question-actions {
    display: flex;
    direction: row-reverse;
    justify-content: flex-end;
    padding: 0.5rem 0 0 1rem;
}

.options-section {
}

.option-row {
    display: flex;
    justify-content: space-between;
}

.option-row-input {
    width: 100%;
    display: flex;
}

.option-row-buttons {
    display: flex;
}

.option-label {
    width: 90%;
}

.question-container{
    justify-content: center;
}



@media screen and (max-width: 576px) {
    .option-label {
        width: 90%;
    }    
}